{% extends "base.html" %}

{% block content %}
<div>
    <a href="{{ url_for('coding') }}">Skip</a>
    <a href="{{ url_for('index') }}">Save</a>
    <a href="{{ url_for('logout') }}">Quit</a>
</div>
{% if award %}
<div>
    <p><b>Title: </b>{{ award.title }}</p>
    <p><b>Number: </b>{{ award.award_id }}</p>
    <p><b>Abstract: </b>{{ award.abstract }}</p>
    <p><b>Program: </b>{{ award.program }}</p>
    <p><b>Organization: </b>{{ award.organization }}</p>
    <p><b>PI: </b>{{ award.pi_first_name }} {{ award.pi_last_name }}</p>
    <p><b>Email: </b>{{ award.pi_email }}</p>
</div>
<div>
    <form action="" method="post">
        {{ form.csrf_token }}
        <p>{{ form.pervasive_data.label }} {{ form.pervasive_data }}</p>
        <p>{{ form.data_science.label }} {{ form.data_science }}</p>
        <p>{{ form.big_data.label }} {{ form.big_data }}</p>
        <p>{{ form.case_study.label }} {{ form.case_study }}</p>
        <p>{{ form.data_synonyms.label }} {{ form.data_synonyms(size=300) }}</p>
        <p>{{ form.award_relevance.label }} {{ form.award_relevance }}</p>
        <p>{{ form.user.label }} {{ form.user }}</p>
        <input type="submit" value="Submit">
    </form>
</div>
{% endif %}
{% endblock %}