{% extends "base.html" %}

{% block app_content %}
<div class="text-center"
<div class="container">
    <div class="row">
       <ul class="list-inline">
           <li><h3>Coding</h3></li>
           <li><h4><a href="{{ url_for('coding') }}">Click here to code NSF award data.</a></h4></li>
       </ul>
    </div>
    <div class="row">
        <ul class="list-inline">
            <li><h3>Authorize</h3></li>
            <li><h4><a href="{{ url_for('login') }}">Click here authorize access to your Google Drive account.</a></h4></li>
        </ul>
    </div>
</div>
</div>
{% endblock %}